
.wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  @keyframes rotate {
    to { transform: rotate(360deg); }
  }

  img {
    animation: rotate 2s infinite linear;
  }
}

.block {
  height: 550px;
}