@import "../../SCSS/variables";
@import "../../SCSS/index";

.ul {
  @extend %flex-box;
  @extend %menu;
  justify-content: center;
  &.hiddenMobile {
    @media screen and (max-width: $mobile){
      display: none;
    }
  }
  &.hiddenDesktop {
    @media screen and (min-width: $mobile){
      display: none;
    }
  }
  li {
    cursor: pointer;
    a:-webkit-any-link {
      color: inherit;
    }
  }
}