@import "../../SCSS/variables";
@import "../../SCSS/index";

.rightMenu {
  margin: 20px 0;
  @extend %flex-box;
  width: 33.3%;
  justify-content: right;
  @media screen and (max-width: 800px){
    width: 100%;
    flex-direction: column;
    margin-bottom: 70px;
  }
  &.hideMobile {
    @media screen and (max-width: $mobile){
      display: none;
    }
  }
  .buttonSignUp {
    opacity: 0.4;
    background: 0px;
    @media screen and (max-width: 800px){
      color: white;
      width: 90%;
      height: 40px;
      font-size: 20px;
      opacity: 0.5;
    }
  }
  div {
    margin: 0px 20px;
    width: 2px;
    height: 26px;
    background: $dark-turquoise;
  }
  .buttonSignIn {
    font-weight: 500;
    padding: 4px 12px;
    background: $light-turquoise;
    border-radius: 5px;
    @media screen and (max-width: 800px){
      width: 90%;
      height: 40px;
      font-size: 20px;
      opacity: 1;
    }
  }
}

.profile {
  margin-bottom: 20px;
  @extend %flex-box;
  justify-content: flex-end;
  width: 16.16%;
  @media screen and (max-width: 800px){
    width: 100%;
    flex-direction: column-reverse;
    justify-content: center;
    align-content: center;
  }
  &.hideMobile {
    @media screen and (max-width: $mobile){
      display: none;
    }
  }
  .name {
    @extend %flex-box;
    width: 100%;
    margin: 0px 5px;
    align-items: flex-end;
    flex-direction: column;
    @media screen and (max-width: 800px){
      align-items: center;
      span {
        font-size: 20px;
        margin: 20px;
      }
    }
    button {
      background: none;
      font-size: 10px;
      color: black;
      opacity: 0.4;
      padding: 0px;
      @media screen and (max-width: 800px){
        color: black;
        opacity: 1;
        background: $light-turquoise;
        font-size: 20px;
        width: 90%;
        height: 40px;
      }
    }
  }
  .avatar {
    height: 32px;
    width: 32px;
    overflow: inherit;
    @media screen and (max-width: 800px){
      order: 1;
      width: 70px;
      height: 70px;
    }
    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
      border-radius: 50px;
    }
  }
}