$white: #FFFFFF;
$light-turquoise: #7CE3E1;
$dark-turquoise: #029491;
$purple: #5970FF;
$grey: rgba(217, 217, 217, 1);
$grey-opacity-30: rgba(217, 217, 217, 0.3);
$dark-grey: #949494;
$border-radius-5: 5px;
$border-radius-10: 10px;
$box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
$mobile: 800px;
$desktop: 1200px;




